{{ partial "header.html" . }}

<main class="content" role="main">
  
<div style="text-align: center;">
  <h2>
    Bienvenue à la pépinière Christophe DELAY </br>
    Tel. 04 74 57 14 42    
  </h2>
</div>

<div style="text-align: justify;">
  
  <div style="float: right; margin-left: 10px;">
    <img src="/layouts/_default/home_files/profil_christopheDelay.png" alt="Christophe dans la pépinière" width="250px"/>
  </div>
  
  <p align="justify"><strong>Depuis 1987</strong>, je sauvegarde et multiplie un choix important de <strong>variétés anciennes d'arbres fruitiers</strong> parmi les plus savoureuses. Je sélectionne avant tout la qualité. Mon ambition : permettre à l'amateur de découvrir ou de retrouver un monde de trésors cachés, la richesse et la diversité des goûts, des parfums, des couleurs, et des utilisations propres à chaque variété.</p>
  <p align="justify">Ces arbres fruitiers anciens vous étonneront par leur diversité, leur caractère: la beauté et le parfum de leur floraison, et le plaisir de cueillir de vrais fruits.
  </p>
  
   <div style="float: left; margin-left: 10px;">
    <img src="/layouts/_default/home_files/banner_icon1.png" alt="En agriculture biologique depuis 1987" width="150px"/>
  </div>
  
  <p align="justify">
    De part leur rusticité, la plupart des variétés s'adaptent bien aux climats rigoureux (poire, pomme, prune).
Depuis 1987, je me suis engagé en agriculture agro-biologique. Je cultive mes plants en respectant la vie du sol: cultures alternées, engrais verts, fertilisants naturels, binages manuels. Ces plants faciliteront la réussite de votre verger grâce à leur excellente qualité : bel enracinement, chevelu, scion vigoureux. 
  </p>
  
</div>

</main>

{{ partial "footer.html" . }}

